@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto+Condensed:wght@300&family=Lato:wght@300&family=Source+Code+Pro&family=Abel&family=Open+Sans+Condensed:wght@300&family=Work+Sans&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 2rem;
    font-family: 'Roboto Condensed', 'Lato', 'Amatic SC', sans-serif;
    color: black;
    background-image: url("../img/spongebob.webp");
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30rem;

}

.title-wrapper {
    text-align: center;    
}

h1 {


}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding-top: 5rem;
}

.circles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3rem 20rem 25rem 20rem;
}

.circle {
    height: 12rem;
    width: 12rem;
    border-radius: 6rem 6rem;
    box-shadow: 0.5rem 0.2rem rgba(0, 0, 0, 0.18);
}

.circle:hover {
    background-color: #cb98ff92;
}

.circle:active {
    height: 10rem;
    width: 10rem;
    border-radius: 5rem 5rem;
    background-color: #cb98ff92;
    font-size: 0.7rem;
}

.about {
    background-color: #b18af1;
    margin-left: 5rem;
    margin-top: 15rem;
}

.education {
    background-color: blueviolet;
    margin-left: 2rem;
    margin-top: 5rem;
}

.work {
    background-color: #4b48f3;
    margin-left: 2rem;
    margin-top: 5rem;

}

.skills {
    background-color: #80c4ff;
    margin-top: 15rem;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.chapter {
    padding: 5rem;
}

h3 {
    font-size: 3rem;
}

.education-section {
    background-color: rgb(232, 209, 255);
}

.work-section {
    background-color: rgb(174, 206, 255);
}

.timeline-content {
    margin-top: 5rem;
    text-align: center;  
}

h4 {
    font-weight: 400;
    font-size: 2.8rem;
}

.timeline {
    border-left: 4px solid #004ffc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;    
    background: fade(white, 3%);
    color: fade(white, 80%); 
    margin: 50px auto;  
    letter-spacing: 0.5px;   
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;   
    padding: 50px;   
    list-style: none;
    text-align: left;  
    font-weight: 100;  
    max-width: 30%; 
}



    .timeline .event {
        border-bottom: 1px dashed fade(white, 10%);
        padding-bottom: (50px * 0.5);
        margin-bottom: 50px;  
        position: relative;
    }
        .timeline .event:last-of-type { 
            padding-bottom: 0;
            margin-bottom: 0; 
            border: none;      
        }

        .timeline .event:before, .event:after {
            position: absolute;
            display: block;
            top: 0;
        }

        .timeline .event:before {
            /*left: (((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1;*/    
            left: -250px;
            color: fade(white, 40%);    
            content: attr(data-date);
            text-align: right;
            font-weight: 100;    
            font-size: 0.9em;
            min-width: 120px;
        }

        .timeline  .event:after {
            box-shadow: 0 0 0 4px fade(#004ffc,100%);    
            /*left: (50px + 4px + (11px * 0.35)) * -1; */
            left: -60px;       
            background: lighten(#252827,5%);    
            border-radius: 50%;  
            height: 19px;
            width: 19px;
            content: "";
            top: 5px;
            background-color: mediumblue;
        }

#spongebob2 {
    height: 18rem;
    margin-left: 10rem;
}



